:root {
	--PostAttachments-marginTop: 0px;
	--PostAttachments-marginTop--afterPostContent: var(--Post-paddingTop);

	--PostAttachment-marginTop: var(--PostContent-marginTop);
	--PostAttachment-marginRight: var(--PostContent-marginTop);

	--PostAttachment-marginTop--compact: var(--PostContent-marginTop--compact);
	--PostAttachment-marginRight--compact: var(--PostContent-marginTop--compact);

	--PostAttachmentRemoveButton-width: calc(var(--unit) * 1.5);
	--PostAttachmentRemoveButton-padding: calc(var(--unit) / 4);
	--PostAttachmentRemoveButton-backgroundColor: var(--SocialComponents-backgroundColor);
	--PostAttachmentRemoveButton-color: var(--SocialComponentsClickable-color--text);
	--PostAttachmentRemoveButton-color--active: var(--SocialComponents-backgroundColor);
	--PostAttachmentRemoveButton-backgroundColor--active: var(--SocialComponentsClickable-color);
}

.PostAttachments {
	margin-top: var(--PostAttachments-marginTop);
}

.PostAttachments-cancelsAttachmentMarginTop {
	margin-top: calc(-1 * var(--PostAttachment-marginTop));
}

.PostAttachments {
	.PostAttachmentThumbnails,
	.PostVideo,
	.PostAudio,
	.PostLinkBlock,
	.PostFile {
		margin-top: var(--PostAttachment-marginTop);
	}
}

.PostAttachments {
	.PostAttachmentThumbnails {
		-webkit-user-select: none; /* Safari */
		user-select: none;
	}
}

.PostAttachments--compact {
	--PostAttachment-marginTop: var(--PostAttachment-marginTop--compact);
	--PostAttachment-marginRight: var(--PostAttachment-marginRight--compact);
}

.PostContent + .PostAttachments {
	/* Add vertical spacing between post content and attachments. */
	--PostAttachments-marginTop: var(--PostAttachments-marginTop--afterPostContent);
}

.PostAttachments-marginCollapseBorder {
	/* Prevents "margin collapse" from leaking outside of `.PostAttachmentThumbnails-list`.
		 Attachment thumbnails list utilizes the "margin collapse" feature for the "tiles" layout.
		 While being useful in such scenarios, the "margin collapse" feature
	   might result in "weird" and "glitchy" behavior if it leaks over the boundaries
	   of the container element so this `display: flex` trick contains it inside the `.PostAttachmentThumbnails`. */
	/* https://stackoverflow.com/questions/19718634/how-to-disable-margin-collapsing */
	display: flex;
	flex-direction: column;
}

.PostAttachmentThumbnails-list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;

	/* Negates the effect of individual `.PostAttachmentThumbnail`s in the list. */
	margin-top: calc(-1 * var(--PostAttachment-marginTop));
	margin-right: calc(-1 * var(--PostAttachment-marginRight));

	/* `.PostAttachmentThumbnail` is also used in `post-link` quotes,
	   where `margin`s aren't required. */
	.PostAttachmentThumbnail {
		margin-top: var(--PostAttachment-marginTop);
		margin-right: var(--PostAttachment-marginRight);
	}
}

/* `.PostAttachmentThumbnail` can't have `margin`s
   when it's being shown as a `<PictureStack/>`,
   so the `margin` is moved to its container
   which is `.PostAttachments-pictureStack`. */
.PostAttachmentThumbnails--showOnlyFirstAttachmentThumbnail {
	.PostAttachments-pictureStack {
		margin-top: var(--PostAttachment-marginTop);
		margin-right: 0;
		.PostAttachmentThumbnail {
			margin-top: 0;
			margin-right: 0;
		}
	}
}

/*
.PostAttachmentThumbnail--transparent {
	--Picture-borderWidth: 0;
	--Picture-backgroundColor: transparent;
	--PostAttachment-shadow--hover: none;
	--PostAttachment-shadow--focus: none;
}
*/

.PostAttachmentThumbnail {
	/*--PostAttachment-shadow--hover: 0 0 0.25em var(--PostAttachment-shadowColor--hover), 0 0 0.1em var(--PostAttachment-shadowColor--hover);*/
	/*--PostAttachment-shadow--focus: 0 0 3px var(--PostAttachment-shadowColor--focus);*/
	/* Video attachments have a `position: absolute` duration placed in bottom right corner. */
	position: relative;

	/* If an attachment's thumbnail is too large, don't overflow the page because of it. */
	overflow: hidden;
}

/* For some weird reason, in development, `.Button` styles override `.PostAttachmentRemoveButton` ones.
   To work around that, an additional `.Button` CSS selector has been added so that `.Button` styles
   don't override `.PostAttachmentRemoveButton` ones. */
.Button.PostAttachmentRemoveButton {
	position: absolute;
	top: 0;
	right: 0;
	width: var(--PostAttachmentRemoveButton-width);
	height: var(--PostAttachmentRemoveButton-width);
	z-index: 1;

	padding: var(--PostAttachmentRemoveButton-padding);

	background-color: var(--PostAttachmentRemoveButton-backgroundColor);
	color: var(--PostAttachmentRemoveButton-color);

	border-bottom: 1px solid var(--Picture-borderColor);
	border-left: 1px solid var(--Picture-borderColor);

	&:active {
		--PostAttachmentRemoveButton-backgroundColor: var(--PostAttachmentRemoveButton-backgroundColor--active);
		--PostAttachmentRemoveButton-color: var(--PostAttachmentRemoveButton-color--active);
	}
}

.PostAttachmentRemoveButton-icon {
	width: 100%;
	height: 100%;
}