.Slideshow-PanAndZoomModeControls {
	position: absolute;
	left: 50%;
	bottom: calc(var(--Slideshow-Controls-marginTop) + var(--Slideshow-VerticalPaginationSpace) + var(--Slideshow-PanAndZoomModeButton-marginBottom));
	transform: translateX(-50%);
}

.Slideshow {
	--Slideshow-VerticalPaginationSpace: 0px;
}

.Slideshow--showPagination {
	--Slideshow-VerticalPaginationSpace: calc(var(--Slideshow-Pagination-height) + var(--Slideshow-Controls-marginTop));
}

.Slideshow-PanAndZoomModeButton {
	/* Added `.Button` selector to override the default styles defined on `.Button`. */
	&.Button {
		--Button-backgroundColor: var(--Slideshow-Control-backgroundColor);
		--Button-backgroundColor--active: var(--Slideshow-Control-backgroundColor--active);
		--Button-color: var(--Slideshow-Control-color);
		--Button-color--active: var(--Slideshow-Control-color--active);
		--Button-color--focus: var(--Slideshow-Control-color--focus);
		--Button-paddingLeft: var(--Slideshow-Control-paddingLeft);
		--Button-borderRadius: calc(var(--Slideshow-PanAndZoomModeButton-height) / 2);
		--Button-fontWeight: var(--Slideshow-Control-fontWeight);
	}

	height: var(--Slideshow-PanAndZoomModeButton-height);
}

.Slideshow-PanAndZoomModeButton--hidden {
	/*visibility: hidden;*/
	display: none;
}

.Slideshow-PanAndZoomModeButtonText--beforeScaleValue {
	margin-right: 0.45em;
}

.Slideshow-PanAndZoomModeButtonText--afterScaleValue {
	margin-left: 0.45em;
}

.Slideshow-PanAndZoomModeButtonText {
	opacity: 0.65;
	white-space: pre-wrap;
}