.Slideshow-PanAndZoomModeControls {
	position: absolute;
	left: 50%;
	bottom: calc(var(--Slideshow-Controls-marginTop) + var(--Slideshow-VerticalPaginationSpace) + var(--Slideshow-PanAndZoomModeButton-marginBottom));
	transform: translateX(-50%);
}

.Slideshow {
	--Slideshow-VerticalPaginationSpace: 0px;
}

.Slideshow--showPagination {
	--Slideshow-VerticalPaginationSpace: calc(var(--Slideshow-Pagination-height) + var(--Slideshow-Controls-marginTop));
}

.Slideshow-PanAndZoomModeButton {
	background-color: var(--Slideshow-Control-backgroundColor);
	color: var(--Slideshow-Control-color);
	font-weight: var(--Slideshow-Control-fontWeight);
	outline: none;
	height: var(--Slideshow-PanAndZoomModeButton-height);
	border-radius: calc(var(--Slideshow-PanAndZoomModeButton-height) / 2);
	padding-left: var(--Slideshow-Control-paddingLeft);
	padding-right: var(--Slideshow-Control-paddingLeft);

	&:hover,
	&:focus {
		color: var(--Slideshow-Control-color--focus);
	}

	&:active {
		color: var(--Slideshow-Control-color--active);
		background-color: var(--Slideshow-Control-backgroundColor--active);
	}
}

.Slideshow-PanAndZoomModeButton--hidden {
	/*visibility: hidden;*/
	display: none;
}

.Slideshow-PanAndZoomModeButtonText--beforeScaleValue {
	margin-right: 0.45em;
}

.Slideshow-PanAndZoomModeButtonText--afterScaleValue {
	margin-left: 0.45em;
}

.Slideshow-PanAndZoomModeButtonText {
	opacity: 0.65;
	white-space: pre-wrap;
}