:root {
	--Slideshow-PaginationNumeric-height: 1.65em;
	--Slideshow-PaginationNumeric-paddingLeft: 0.6em;
	--Slideshow-Pagination-height--numeric: var(--Slideshow-PaginationNumeric-height);
}

.Slideshow-PaginationNumeric {
	display: flex;
	align-items: center;

	height: var(--Slideshow-PaginationNumeric-height);

	/* Added `.Button` selector here to override the default variables set on `.Button`. */
	&.Button {
		--Button-borderRadius: 1em;
		--Button-paddingLeft: var(--Slideshow-PaginationNumeric-paddingLeft);
		--Button-paddingRight: var(--Slideshow-PaginationNumeric-paddingLeft);
		--Button-backgroundColor: rgba(0, 0, 0, 0.7);
		--Button-backgroundColor--active: var(--SocialComponentsClickable-color--active);
		--Button-color: var(--white-color);
		--Button-color--focus: var(--SocialComponentsClickable-color--active);
		--Button-color--active: var(--white-color);
		--Button-fontWeight: 300;
	}

	&:active {
		.Slideshow-PaginationNumericCurrent {
			opacity: 1;
		}
		.Slideshow-PaginationNumericDivider {
			opacity: 0.6;
		}
		.Slideshow-PaginationNumericTotal {
			opacity: 0.75;
		}
	}
}

.Slideshow-PaginationNumericCurrent {
	opacity: 0.75;
}

.Slideshow-PaginationNumericDivider {
	margin-left: 0.35em;
	margin-right: 0.35em;
	opacity: 0.35;
	transform: scale(1.3);
}

.Slideshow-PaginationNumericTotal {
	opacity: 0.5;
}